@import "../../scss/colors.scss";
@import "../../scss/constants.scss";

.input {
  border: 1px solid $textColor;
  background-color: transparent;
  outline: none;
  color: $textColor;
  border-radius: 3px;
  padding: 5px;

  &:focus {
    border: 1px solid $primaryColor;
  }
}

