.container {
  color: white;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.time {
  font-size: 124px;
  font-weight: 100;
}

.dateContainer {
  font-size: 38px;
  font-weight: 300;
}
