@import "../../scss/colors.scss";
@import "../../scss/mixins.scss";

.loginWrapper {
  @include background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  @include foregroundElement;
  display: flex;
  flex-direction: column;
}
