$backgroundColor1: #1D1F29;
$backgroundColor2: #222431;
$backgroundColor3: #272937;
$backgroundColor4: #222431;
$contentHeaderColor: #36384a;
$textColor: #dedede;
$primaryColor: #3880d3;
$buttonColor: #36384A;