@import "./constants.scss";
@import "./colors.scss";

@mixin boxShadow {
  box-shadow: 0 2px 3px 0px #0000004d;
}

@mixin foregroundElement {
  @include boxShadow;
  background-color: $foregroundColor;
  padding: $padding;
  color: $textColor;
  border-radius: $borderRadius;
}

@mixin background {
  box-sizing: border-box;
  padding: $padding 0;
  width: 100vw;
  min-height: 100vh;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
}

@mixin pageContent {
  max-width: 1000px;
  flex-basis: 100%;
}
